button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 125px;
    margin: 10px;
    background-color: #fefefe;
    border-radius: 10px;
    border: 1.5px solid #bbbbbb;
    border-bottom: 5px solid #bbbbbb;
    font-weight: 400;
    min-width: 400px;
    max-width: 650px;
    max-height: 70px;
    min-height: 60px;
    transition: color 0.2s ease, background-color 0.2s ease, transform 0.2s ease;
    font-size : 20px;
    color: #000000;
}

button:hover{
    cursor: pointer;
    background-color: #bbbbbb;
    color: #fefefe
}

.optioncorrect{
    background-color: #25ca68;
    border: 1.5px solid #1a8f48;
    border-bottom: 5px solid #1a8f48;
}

.optionincorrect{
    background-color: #f22a35;
    border: 1.5px solid #9f1c23;
    border-bottom: 5px solid #9f1c23;
}

.optioncorrect:hover{
    background-color: #25ca68;
}

.optionincorrect:hover {
    background-color: #f22a35;
}

/*Escritorio*/
@media (min-width: 1199.98px)  {
    button{
        min-width: 599px;
        max-height: 70px;
    }
}
/*Fin Escritorio*/
