.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1400px
}

.error {
    color: red;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

p {
    font-size: 16px;
}

button {
    font-size: 16px;
    font-weight: bold;
    color: black;
}

span {
    font-size: 20px;
}

h1 {
    font-size: 40px;
}

.questionContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    background-color: #fefefe;
    color: black;
    border-radius: 10px;
    border: 1.5px solid #bbbbbb;
    border-bottom: 5px solid #bbbbbb;
}
